.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1024px;
  margin: auto;
  padding: 12px;
}

.header-logo-container {
  position: relative;
  width: 200px;
}

.header-logo-container img {
  width: 100%;
  position: absolute;
  object-fit: contain;
}

.nav {
  padding: 0;
}

.nav li {
  display: inline;
  margin: 12px;
}
